body {
  font-family:  Verdana;
  font-size: 12px;
  max-width: 960px;
  margin: 0 auto;
  background-color: #f4f4f4; /* Light background for contrast */
}

header {
  text-align: center;
  margin: auto 2em;
}

h1 {
  font-size: 2em;
  letter-spacing: 0.1em;
  padding: 1em 0; /* Combined padding for consistency */
  color: #051adc; /* red color for the header */
}

h2 {
  font-size: 1.5em;
  padding-bottom: 1em;
  color: #030303; /* Dark color for headings */
}

h3 {
  font-size: 1.5em;
  padding-bottom: 0em;
}

main {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 0px; /* Space between grid items */
  margin-top: 3em;
}

section {
  margin: 5; /* Remove margins from sections for grid alignment */
  background: white; /* Background for sections */
  border-radius: 0px; /* Rounded corners for sections */
  padding: 15px; /* Padding inside sections */
  box-shadow: 0 2px 10px rgba(209, 13, 13, 0.1); /* Subtle shadow for depth */
}

i {
  margin-right: .5em;
}

p {
  margin: 5em auto;
}

hr {
  border: none;
  background-color: rgb(112, 41, 41);
  height: 2px;
}

h1, h2, h3 {
  font-weight: 100;
  margin-bottom: 0;
}

#mainLeft {
  border-right: 1px solid rgb(144, 22, 22); /* Border for the left section */
}

/* Responsive adjustments */
@media (max-width: 5px) {
  main {
      grid-template-columns: 1fr, 2fr; /* Stacking columns on small screens */
  }
  #mainLeft {
      border-right: none; /* Remove right border on smaller screens */
  }
}
